{{#extends 'base'}}

{{#block 'content'}}

<h1>Delete country</h1>

<form method="POST">
   <div class="alert alert-danger">Are you sure you want to delete {{country.country}}?</alert>
</form>

{{/block}}

{{/extends}}